body{
    background-color: #f5f5f5;
  }
  @keyframes scale{
    from{
      transform: scale(1) rotate(-45deg)
    }
    12.5%{
      transform: scale(1.2) rotate(-45deg)
    }
    25%{
      transform: scale(1) rotate(-45deg)
    }
    37.5%{
    transform: scale(1.2) rotate(-45deg)
    }
    50%{
      transform: scale(1) rotate(-45deg)
    }
    100%{
      transform: scale(1) rotate(-45deg)
    }
  }
  
  .w{
  width: 100px;
  height: 100px;
  background-color: pink;
    transform: rotate(-45deg);
    animation-name: scale;
    animation-iteration-count: infinite;
    animation-duration: 0.8s;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .w::before,
  .w::after{
    display: block;
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: pink;
    position: relative;
  }
  .w::before{
    top: -50px;
  }
  .w::after{
  
    left: 50px;
    top: -100px;
  }

  #poem p{
    text-align: center;
    font-size: 20px;
    margin: auto;
  }
  
/* Media Queries */
@media only screen and (min-width: 601px) {
    /* Styles for Tablet and Desktop */
    h1 {
      font-size: 40px;
    }
  
    p {
      font-size: 25px;
    }
  
    img {
      width: 300px;
    }
  
    .heart {
      font-size: 50px;
    }
  
    .w {
      width: 100px;
      height: 100px;
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }
